<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Night's Watch</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <meta name="description" content="Sword in the darkness">
  <meta name="keywords" content="Night's Watch, system, monitor, arduino, go, golang, vue, vuejs">
  <meta name="author" content="Quy Le (lnquy)">
  <meta name="contact" content="lnquy.it@gmail.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
  <link href="static/css/vuetify.min.css" rel="stylesheet">
  <link href="static/css/nw.css" rel="stylesheet">
</head>
<body>
<div id="app">
  <v-app dark>
    <v-content>
      <!--Toolbar-->
      <v-toolbar dark color="black">
        <!--<v-toolbar-side-icon></v-toolbar-side-icon>-->
        <img src="static/img/nw.png" width="40"/>
        <v-toolbar-title class="white--text light-font hidden-xs-only">Night's Watch</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn class="mr-0" color="info" @click="" :disabled="!isConfigChanged || !uid" :loading="btnLoading" @click.native="saveConfig">
          <v-icon small>save</v-icon>
          &nbsp;&nbsp;Save
        </v-btn>
        <v-menu bottom lazy>
          <v-btn icon slot="activator">
            <v-icon>more_vert</v-icon>
          </v-btn>
          <v-list>
            <v-list-tile v-for="(m, idx) in menus" :key="idx" @click="clickMenuItem(idx)">
              <v-icon>{{ m.icon }} &nbsp;&nbsp;&nbsp;</v-icon>
              <v-list-tile-title>{{ m.text}}</v-list-tile-title>
            </v-list-tile>
            <v-divider></v-divider>
            <v-list-tile @click="aboutModal = true">
              <v-icon>info_outline &nbsp;&nbsp;&nbsp;</v-icon>
              <v-list-tile-title>About</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-toolbar>
      <!--Main content-->
      <v-container fluid grid-list-lg>
        <!--Serial card-->
        <v-layout justify-center>
          <v-flex class="xs12 sm8">
            <v-card>
              <v-card-title class="headline">
                <v-layout>
                  <v-flex class="xs12">
                    <span class="green-accent-3">Serial</span>
                    <v-tooltip bottom>
                      <v-icon small slot="activator" style="color: rgba(255,255,255,.61)">info_outline</v-icon>
                      <span>Configure the serial port which connects to Arduino board.<br/>Also the baud rate (default 9600).</span>
                    </v-tooltip>
                    <v-tooltip top>
                      <v-btn class="ma-0" flat fab small style="float: right" @click="loadSerialPorts(true)"
                             slot="activator" :disabled="!uid">
                        <v-icon>refresh</v-icon>
                      </v-btn>
                      <span>Refresh serial ports</span>
                    </v-tooltip>
                  </v-flex>
                </v-layout>
              </v-card-title>
              <v-card-text class="pt-0">
                <v-layout>
                  <v-flex class="xs7 sm9">
                    <span class="sp-sec text--secondary">Serial Port</span><br>
                    <v-select
                        :items="slSerialPorts" v-model="cfg.serial.port" label="Select serial port" single-line
                        bottom light solo required no-data-text="No serial ports found"
                        hint="Serial Port" persistent-hint :disabled="!uid"
                        :error-messages="errors.collect('serial port')" v-validate="'required'"
                        data-vv-name="serial port" data-vv-scope="cfgForm">
                    </v-select>
                  </v-flex>
                  <v-flex class="xs5 sm3">
                    <span class="sp-sec text--secondary">Baud Rate</span><br>
                    <v-select
                        :items="slSerialBauds" v-model="cfg.serial.baud" label="Select baud rate" single-line
                        bottom light solo required hint="Baud Rate" persistent-hint  :disabled="!uid"
                        :error-messages="errors.collect('baud rate')" v-validate="'required'"
                        data-vv-name="baud rate" data-vv-scope="cfgForm">
                    </v-select>
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>

        <!--Stats card-->
        <v-layout class="mt-3" justify-center>
          <v-flex class="xs12 sm8">
            <v-card>
              <v-card-title class="headline">
                <v-layout>
                  <v-flex class="xs12">
                    <span class="green-accent-3">Statistics</span>
                    <v-tooltip bottom>
                      <v-icon small slot="activator" style="color: rgba(255,255,255,.61)">info_outline</v-icon>
                      <span>Configure system statistics and alert thresholds.<br>Set value to <span
                          style="color: #00E676"><b>0</b></span> to disable the alert.</span>
                    </v-tooltip>
                  </v-flex>
                </v-layout>
              </v-card-title>
              <v-card-text class="pt-0">
                <v-layout class="mt-1">
                  <v-flex class="xs12">
                    <span class="sp-sec text--secondary">Refresh Interval</span><br>
                    <v-select
                        :items="slIntervals" v-model="cfg.stats.interval" label="Select refresh interval" single-line
                        bottom light solo required hint="Refresh interval" persistent-hint :disabled="!uid"
                        :error-messages="errors.collect('refresh interval')" v-validate="'required'"
                        data-vv-name="refresh interval" data-vv-scope="cfgForm">
                    </v-select>
                  </v-flex>
                </v-layout>
                <v-divider class="mt-4 mb-4"></v-divider>
                <v-layout row wrap class="mt-3">
                  <v-flex xs12>
                    <v-switch class="sw-subheading" color="green accent-3" label="CPU"
                              v-model="cfg.stats.cpu.enabled" :disabled="!uid"></v-switch>
                  </v-flex>
                  <v-flex xs6 class="mt-n1">
                    <v-text-field class="vtf-right" type="number" min="0" max="100" label="Load threshold"
                                  v-model="cfg.stats.cpu.load" suffix="%" :disabled="!cfg.stats.cpu.enabled || !uid"
                                  :error-messages="errors.collect('CPU load')" data-vv-name="CPU load"
                                  v-validate="'required|min_value:0|max_value:100'" data-vv-scope="cfgForm">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs6 class="mt-n1">
                    <v-text-field class="vtf-right" type="number" min="0" max="100" label="Temperature threshold"
                                  v-model="cfg.stats.cpu.temp" suffix="°C" :disabled="!cfg.stats.cpu.enabled || !uid"
                                  :error-messages="errors.collect('CPU temperature')" data-vv-name="CPU temperature"
                                  v-validate="'required|min_value:0|max_value:100'" data-vv-scope="cfgForm">
                    </v-text-field>
                  </v-flex>
                </v-layout>

                <v-layout row wrap class="mt-3">
                  <v-flex xs12>
                    <v-switch class="sw-subheading" color="green accent-3" label="Memory"
                              v-model="cfg.stats.memory.enabled" :disabled="!uid"></v-switch>
                  </v-flex>
                  <v-flex class="xs12 mt-n1">
                    <v-text-field class="vtf-right" type="number" min="0" max="100" label="Load threshold"
                                  v-model="cfg.stats.memory.load" suffix="%"
                                  :disabled="!cfg.stats.memory.enabled || !uid"
                                  :error-messages="errors.collect('memory load')" data-vv-name="memory load"
                                  v-validate="'required|min_value:0|max_value:100'" data-vv-scope="cfgForm">
                    </v-text-field>
                  </v-flex>
                </v-layout>

                <v-layout row wrap class="mt-3">
                  <v-flex xs12>
                    <v-switch class="sw-subheading" color="green accent-3" label="GPU"
                              v-model="cfg.stats.gpu.enabled" :disabled="!uid"></v-switch>
                  </v-flex>
                  <v-flex class="xs6 mt-n1">
                    <v-text-field class="vtf-right" type="number" min="0" max="100" label="Load threshold"
                                  v-model="cfg.stats.gpu.load" suffix="%"
                                  :disabled="!cfg.stats.gpu.enabled || !uid"
                                  :error-messages="errors.collect('GPU load')" data-vv-name="GPU load"
                                  v-validate="'required|min_value:0|max_value:100'" data-vv-scope="cfgForm">
                    </v-text-field>
                  </v-flex>
                  <v-flex class="xs6 mt-n1">
                    <v-text-field class="vtf-right" type="number" min="0" max="100000" label="GPU memory threshold"
                                  v-model="cfg.stats.gpu.mem" suffix="MB"
                                  :disabled="!cfg.stats.gpu.enabled || !uid"
                                  :error-messages="errors.collect('GPU memory')" data-vv-name="GPU memory"
                                  v-validate="'required|min_value:0|max_value:100000'" data-vv-scope="cfgForm">
                    </v-text-field>
                  </v-flex>
                </v-layout>

                <v-layout row wrap class="mt-3">
                  <v-flex xs12>
                    <v-switch class="sw-subheading" color="green accent-3" label="Network"
                              v-model="cfg.stats.network.enabled" :disabled="!uid"></v-switch>
                  </v-flex>
                  <v-flex class="xs6 mt-n1">
                    <v-text-field class="vtf-right" type="number" min="0" max="1000000" label="Download threshold"
                                  v-model="cfg.stats.network.download" suffix="KB/s"
                                  :disabled="!cfg.stats.network.enabled || !uid"
                                  :error-messages="errors.collect('download speed')" data-vv-name="download speed"
                                  v-validate="'required|min_value:0|max_value:1000000'" data-vv-scope="cfgForm">
                    </v-text-field>
                  </v-flex>
                  <v-flex class="xs6 mt-n1">
                    <v-text-field class="vtf-right" type="number" min="0" max="1000000" label="Upload threshold"
                                  v-model="cfg.stats.network.upload" suffix="KB/s"
                                  :disabled="!cfg.stats.network.enabled || !uid"
                                  :error-messages="errors.collect('upload speed')" data-vv-name="upload speed"
                                  v-validate="'required|min_value:0|max_value:1000000'" data-vv-scope="cfgForm">
                    </v-text-field>
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>

        <!--SleepTime card-->
        <v-layout class="mt-3" justify-center>
          <v-flex class="xs12 sm8">
            <v-card>
              <v-card-title class="headline">
                <v-layout>
                  <v-flex class="xs12">
                    <span class="green-accent-3">Sleep Time</span>
                    <v-tooltip bottom>
                      <v-icon small slot="activator" style="color: rgba(255,255,255,.61)">info_outline</v-icon>
                      <span>Configure the sleep time duration.
                          <br/>Server won't send system statistics to Arduino board and also turn off the LCD in sleep time.
                          <br/>Set both start time and end time to <span style="color: #00E676"><b>00:00</b></span> to disable sleep time.
                        </span>
                    </v-tooltip>
                  </v-flex>
                </v-layout>
              </v-card-title>
              <v-card-text class="pt-0">
                <v-layout row wrap>
                  <v-flex class="xs6">
                    <v-menu ref="startMenu" lazy :close-on-content-click="false" transition="scale-transition"
                            offset-y full-width :nudge-right="40" max-width="290px" min-width="290px"
                            :return-value.sync="cfg.sleep.start">
                      <v-text-field class="vtf-right" slot="activator" label="Pick start time" v-model="cfg.sleep.start"
                                    prepend-icon="timer" readonly :disabled="!uid"
                                    :error-messages="errors.collect('sleepStart')" data-vv-name="sleepStart"
                                    v-validate="'required'" data-vv-scope="cfgForm">
                      </v-text-field>
                      <v-time-picker v-model="cfg.sleep.start"
                                     @change="$refs.startMenu.save(cfg.sleep.start)"></v-time-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex class="xs6">
                    <v-menu ref="endMenu" lazy :close-on-content-click="false" transition="scale-transition"
                            offset-y full-width :nudge-right="40" max-width="290px" min-width="290px"
                            :return-value.sync="cfg.sleep.end">
                      <v-text-field class="vtf-right" slot="activator" label="Pick end time" v-model="cfg.sleep.end"
                                    prepend-icon="timer_off" readonly :disabled="!uid"
                                    :error-messages="errors.collect('sleepEnd')" data-vv-name="sleepEnd"
                                    v-validate="'required'" data-vv-scope="cfgForm">
                      </v-text-field>
                      <v-time-picker v-model="cfg.sleep.end"
                                     @change="$refs.endMenu.save(cfg.sleep.end)"></v-time-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex class="xs6">
                    <v-text-field class="vtf-right" type="number" min="1" max="100" label="Normal brightness"
                                  v-model="cfg.sleep.normalBrightness" suffix="%" :disabled="!uid"
                                  :error-messages="errors.collect('normal brightness')" data-vv-name="normal brightness"
                                  v-validate="'required|min_value:1|max_value:100'" data-vv-scope="cfgForm"
                                  prepend-icon="brightness_high">
                    </v-text-field>
                  </v-flex>
                  <v-flex class="xs6">
                    <v-text-field class="vtf-right" type="number" min="0" max="100" label="Sleep brightness"
                                  v-model="cfg.sleep.sleepBrightness" suffix="%" :disabled="!uid"
                                  :error-messages="errors.collect('sleep brightness')" data-vv-name="sleep brightness"
                                  v-validate="'required|min_value:0|max_value:100'" data-vv-scope="cfgForm"
                                  prepend-icon="brightness_3">
                    </v-text-field>
                  </v-flex>
                </v-layout>
      </v-container>
      </v-card-text>
      </v-card>
      </v-flex>
      </v-layout>

      <!--Snackbar-->
      <v-snackbar v-model="snb.show" :timeout="snb.timeout" :color="snb.color" top>
        <span class="text--white">{{ snb.msg }}</span>
        <v-btn flat color="grey lighten-2" @click.native="snb.show = false">Close</v-btn>
      </v-snackbar>

      <!--Login modal-->
      <v-dialog v-model="loginModal" persistent max-width="600">
        <v-card>
          <v-card-title class="headline">Login</v-card-title>
          <v-card-text class="py-0">
            <v-layout row wrap>
              <v-flex class="xs12">
                <v-text-field label="Username" required
                              v-model="login.username"
                              :error-messages="errors.collect('user name')" data-vv-name="user name"
                              v-validate="'required|min:4|max:30'" data-vv-scope="loginForm">
                </v-text-field>
              </v-flex>
              <v-flex class="xs12">
                <v-text-field label="Password" required type="password"
                              v-model="login.password"
                              :error-messages="errors.collect('password')" data-vv-name="password"
                              v-validate="'required|min:4|max:30'" data-vv-scope="loginForm">
                </v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="info" @click.native="postLogin">Login</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!--About modal-->
      <v-dialog v-model="aboutModal" max-width="550">
        <v-card>
          <v-card-title class="headline">Night's Watch</v-card-title>
          <v-card-text class="py-0">
            <v-layout row wrap>
              <v-flex class="xs12">
                <p class="body-1 text--secondary">Night's Watch is a toy project simply monitoring system statistics (CPU, memory, GPU and network I/O) and displays those data on an external LCD via Arduino UNO board.<br>
                  Source code and documentation can be found on Github: <a href="https://github.com/lnquy/nights-watch">https://github.com/lnquy/nights-watch</a><br>
                  All contributions to this project are welcome.
                </p>
                <p class="subheading">Author</p>
                <p class="body-1 text--secondary">Quy Le (@lnquy) - lnquy.it@gmailcom</p>
                <p class="subheading">License</p>
                <p class="body-1 text--secondary">This project is licensed under the <a href="https://github.com/lnquy/nights-watch/blob/master/LICENSE">MIT License</a>.</p>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="info" @click.native="aboutModal = false">Ok</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      </v-layout>
    </v-content>
  </v-app>
</div>

<!--Scripts-->
<script src="static/js/vuejs.dev.js"></script> <!--TODO-->
<script src="static/js/vuetify.min.js"></script>
<script src="static/js/axios.min.js"></script>
<script src="static/js/vee-validate.min.js"></script>
<script>
  Vue.use(VeeValidate);

  // Convert all numeric string (e.g.: "15") fields to its actual numeric value (15).
  // Since Go backend will failed to convert string fields to uint/int fields,
  // we have to convert all these fields to numeric type before posting to backend.
  var forceNumericObject = function(obj) {
    for (var key in obj) {
      if (obj.hasOwnProperty(key)) {
        if (typeof obj[key] === 'object') {
          forceNumericObject(obj[key]); // Recursive to nested fields
        } else if (typeof obj[key] === 'string') {
          var num = Number(obj[key]);
          if (num || num === 0) {
            obj[key] = num; // Convert numeric string to numeric
          }
        }
      }
    }
    return obj;
  };

  var getCookie = function (name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length === 2) {
      return parts.pop().split(";").shift();
    }
    return null
  }

  new Vue({
    el: '#app',
    data: {
      cfg: {
        serial: {
          port: '',
          baud: 9600
        },
        stats: {
          interval: 1,
          cpu: {
            enabled: false,
            load: 0,
            temp: 0
          },
          memory: {
            enabled: false,
            load: 0
          },
          gpu: {
            enabled: false,
            load: 0,
            mem: 0
          },
          network: {
            enabled: false,
            download: 0,
            upload: 0
          }
        },
        sleep: {
          start: '00:00',
          end: '00:00',
          normalBrightness: 85,
          sleepBrightness: 0
        }
      },
      menus: [
        {icon: 'keyboard_return', text: 'Logout'},
        {icon: 'language', text: 'Languages'},
        {icon: 'account_circle', text: 'Administrator'}
      ],
      slSerialPorts: [],
      slSerialBauds: [
        {text: '300', value: 300},
        {text: '1200', value: 1200},
        {text: '2400', value: 2400},
        {text: '4800', value: 4800},
        {text: '9600', value: 9600},
        {text: '19200', value: 19200},
        {text: '38400', value: 38400},
        {text: '57600', value: 57600},
        {text: '74880', value: 74880},
        {text: '115200', value: 115200},
        {text: '230400', value: 230400},
        {text: '250000', value: 250000}
      ],
      slIntervals: [
        {text: '1 second', value: 1},
        {text: '2 seconds', value: 2},
        {text: '3 seconds', value: 3},
        {text: '5 seconds', value: 5},
        {text: '10 seconds', value: 10},
        {text: '30 seconds', value: 30},
        {text: '1 minute', value: 60},
        {text: '1 minute 30 seconds', value: 90},
        {text: '2 minutes', value: 120},
        {text: '3 minutes', value: 180},
        {text: '5 minutes', value: 300}
      ],
      isConfigChanged: false,
      btnLoading: false,
      snb: {
        show: false,
        timeout: 3500,
        color: 'info',
        msg: ''
      },
      loginModal: false,
      login: {
        username: '',
        password: ''
      },
      aboutModal: false,
      uid: ''
    },
    watch: {
      cfg: {
        handler: function (newVal, oldVal) {
          this.isConfigChanged = true;
        },
        deep: true,
        immediate: true
      }
    },
    methods: {
      loadConfigs: function () {
        var self = this;
        axios.get('/api/v1/config')
          .then(function (res) {
            self.cfg = res.data;
            setTimeout(function() {
              self.isConfigChanged = false;
              self.showSnackbar('success', 'Configuration loaded');
            }, 100);
          })
          .catch(function (err) {
            self.showSnackbar('error', 'Failed to load configuration: ' + err.response.data);
            console.log('CONFIG', err.response);
          });
      },
      loadSerialPorts: function (refreshOnly) {
        var self = this;
        self.slSerialPorts = [];
        self.cfg.serial.port = '';
        axios.get('/api/v1/serial')
          .then(function (res) {
            self.slSerialPorts = res.data;
            self.showSnackbar('success', 'Serial ports list refreshed');
            if (!refreshOnly) {
              self.loadConfigs();
            }
          })
          .catch(function (err) {
            self.showSnackbar('error', 'Failed to refresh serial ports list: ' + err.response.data);
            console.log('SERIAL', err.response);
          });
      },
      saveConfig: function() {
        var self = this;
        this.$validator.validateAll('cfgForm')
          .then(function(result) {
            if (!result) {
              self.showSnackbar('error', 'Something wrong. Please check your configuration first');
              return;
            }

            self.btnLoading = true;
            axios.post('/api/v1/config', forceNumericObject(self.cfg))
              .then(function (res) {
                self.showSnackbar('success', 'Configuration saved');
                self.isConfigChanged = false;
                self.btnLoading = false;
              })
              .catch(function (err) {
                self.isConfigChanged = true;
                self.btnLoading = false;
                self.showSnackbar('error', 'Failed to save configuration: ' + err.response.data);
                console.log('SAVE CONFIG', err.response);
              });
        });
      },
      clickMenuItem: function(idx) {
        var self = this;
        switch (idx) {
          case 0: // Logout
            if (!this.uid || this.uid === "guest") {
              return;
            }
            axios.get('/logout')
              .then(function (res) {
                self.showSnackbar('success', 'Goodbye friend!');
                setTimeout(function() {
                  location.reload();
                }, 1000);
              })
              .catch(function (err) {
                self.showSnackbar('error', 'Logout failed: ' + err.response.data);
                console.log('LOGOUT', err.response);
              });
            return;
          case 1: // Languages
            alert('Nothing here yet :)');
            return;
          case 2:
            alert('Nothing here yet :)');
            return;
        }
      },
      postLogin: function() {
        var self = this;
        this.$validator.validateAll('loginForm')
          .then(function(result) {
            if (!result) {
              self.showSnackbar('error', 'Please check your username/password first');
              return;
            }

            axios.post('/login', self.login)
              .then(function (res) {
                self.showSnackbar('success', 'Hello ' + self.login.username + '!');
                self.login.password = '';
                self.loginModal = false;
                self.uid = getCookie('nightswatch_uid');
                setTimeout(function() {
                  self.loadSerialPorts(false);
                }, 1000);
              })
              .catch(function (err) {
                self.showSnackbar('error', 'Login failed: ' + err.response.data);
                console.log('LOGIN', err.response);
              });
          });
      },
      showSnackbar: function(type, msg, timeout) {
        if (!timeout) {
          timeout = 3500;
        }
        this.snb.timeout = timeout;
        this.snb.color = type;
        this.snb.msg = msg;
        this.snb.show = true;
      }
    },
    mounted: function () {
      this.uid = getCookie('nightswatch_uid');
      if (this.uid) { // Logged in
        this.loginModal = false;
        this.loadSerialPorts(false);
      } else {
        this.loginModal = true;
      }
    }
  })
</script>
</body>
</html>
