.light-font {
    font-weight: 300;
}

.green-accent-3 {
    color: #00E676 !important;
}

.vtf-right > div.input-group__input > input {
    text-align: right;
}

.sw-subheading > label {
    font-size: 16px !important;
    font-weight: 400;
}

.mt-n1 {
    margin-top: -15px !important;
}

.sp-sec {
    font-size: 12px !important;
}
